includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    level: max
    paths:
        - .
    excludePaths:
        - config/*
        - storage/*
        - vendor/*
